*{
   font-family: Helvetica;
}
p{
 display: block;
   padding: 10px;
}


}
.topnav{

   width: 100%;
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   font-size: 18px;
   background-color: cornflowerblue;
   padding-top:80px; 
    
}
.leftnav {
    height: 100%;
    width: 200px;
    position: absolute; 
    z-index: 1; 
    font-size:16px;
    background-color: lightpurple; 
    padding-top: 7%;
   padding-right: 40px;
  }

  .leftnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }

.title{
    font-size: 22px;
   padding: 20px;
   top: 0;
      z-index: 3;
      
    
}
img{
   width: 200px;
   height: 200px;
   border: 1px solid lightpurple;
  
}
