*{
   font-family: Helvetica;
}
p{
 display: inline;
   padding: 10px;
   margin: 10px;
   position: static;
}


}
.topnav{
   
  width: 100%;
   top: 80;
Left: 200;
   position: sticky;
   z-index: 1;
   font-size: 16px;
   background-color: mistyrose;
   padding: 30px; 
   text-align: center;

    
}
.leftnav {
    height: 100%;
    width: 15%;
    position: absolute; 
    z-index: 2; 
   top: 0;
   left: 0;
    font-size:20px;
    background-color: mistyrose; 
    padding: 40px;
   
  }

  .leftnav a {
    padding: 6px 8px 6px 16px;
    font-size: 18px;
    display: block;
  }

.bottomnav{
   width: 100%;
   bottom: 0;
      Left: 15%;
   position: fixed;
   z-index: 1;
   font-size: 16px;
   background-color: mistyrose;
   padding: 30px; 
   text-align: center;
}

.title{
   width: 100%;
   position: sticky;
   top: 0;
   text-align: center;
   font-size: 22px;
   top: 0;
   z-index: 4;
   position: fixed;
   background-color: Pink;
    
}
img{
   width: 200px;
   height: 200px;
   border: 1px solid black;
   float: right;
  position: static;
}

#research, #intro{
   display: inline;
   padding: 10px;
   margin: 10px;
   float: left;
   position: static;
   
}

