p{
    background-color: lightyellow;
}
.leftnav {
    height: 100%;
    width: 150px;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    padding-top: 20px;
  }

  .leftnavnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
